{% extends 'base.html.twig' %}

{% block title %} Accueil - {{ parent() }} {% endblock %}

{% block body %}
<header>

    <h1>MovieLib</h1>

    <a href="#">nos film</a>

</header>

<main>
    <h3>bienvenue chez MovieLib</h3>
</main>

<footer>

    <p>copy, 2022 MovieLib</p>
    {# date du jour afficher dans le footer #}

</footer>
{% endblock %}
